@font-face {
    font-family: '8bit';
    src: url('fonts/VT323-Regular.ttf');
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.Dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar usermenu"
    "sidebar activityDash";
}

/* left-side sidebar*/
.sidebar {
    background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    box-shadow: 0vmin 0.5vmin 0.5vmin 0.5vmin rgba(255, 127, 80, 0.75), 
    0vmin 0.75vmin 0.5vmin 0.5vmin beige;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 0.5fr 1fr 4.5fr;
    padding: 0 1vmin 0 1vmin;
    z-index: 1;
}

.sidebar > ul {
   margin: 0;
   padding: 2vmin;
}

.sidebar > h1 {
    font-family: '8bit', 'Courier New', Courier, monospace;
    background-image: linear-gradient(135deg, rgba(169,3,41,0.6) 0%,rgba(143,2,34,0.8) 44%,rgba(109,0,25,1) 100%);
    background-size: contain;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.5vmin;
    height: 100%;
    font-size: 6vmin;
    position: relative;
    top: -1vmin;
    left:7vmin;
    text-shadow: 0vmin 0.5vmin white;
}

.sidebar > h1::before {
    font-family: Times;
    content: "------------";
    text-align: right;
    letter-spacing: -1vmin;
    text-shadow: 
    0.6vmin 0.5vmin black,
    0.6vmin 0.3vmin white,
    -0.4vmin -0.4vmin gold,
    -0.6vmin -0.55vmin black,
    -0.4vmin -0.7vmin gold,
    -0.4vmin -0.8vmin gold,
    0.6vmin 0.4vmin white;
    font-size: 2vmin;
    color: white;
    background-color: black;
    width: 3vmin;
    height: 3vmin;
    position: absolute;
    border-radius: 50%;
    top: 1.25vmin;
    left: -6vmin;
    border: 0.6vmin solid white;
    box-shadow: 
    0.1vmin -0.3vmin black inset,
    -0.1vmin -0.3vmin black inset,
    0.4vmin 0.4vmin gold inset,
    0.8vmin 0.8vmin coral inset,
    1.2vmin 1.2vmin gold inset,
    1.6vmin 1.6vmin coral inset,
    2vmin 2vmin gold inset,
    2.4vmin 2.4vmin coral inset,
    0.3vmin 0vmin red, 
    0vmin .3vmin red, 
    0vmin -0.4vmin white,
    0.57vmin 0.15vmin black,
    0.57vmin 0vmin white,
    0.75vmin 0.25vmin gold,
    0.85vmin 0vmin red,
    0.5vmin -0.25vmin red,
    0.5vmin -0.5vmin gold,
    0.5vmin 0.5vmin red,
    0.7vmin 0.6vmin white;
    transform: scaleY(-1) scaleX(-1);
}

.sidebar > h1::after {
    font-family: Times;
    content: "^";
    text-shadow: 
    0 -0.3vmin black;
    font-weight: bolder;
    letter-spacing: -1.1vmin;
    writing-mode: vertical-lr;
    white-space: pre-wrap;
    font-size: 3vmin;
    color: gold;
    background-color: red;
    position: absolute;
    top: 3.25vmin;
    left: -3.6vmin;
    height: 0.7vmin;
    width: 1.3vmin;
    border-radius: 0 0 1.5vmin 1.5vmin;
    box-shadow: 
    0vmin 0.15vmin black inset,
    0.2vmin 0 black inset,
    -0.2vmin 0 black inset,
    0vmin -0.2vmin black inset,
    0.3vmin 0 white inset,
    -0.3vmin 0 white inset,
    0vmin -0.3vmin white inset,
    0.55vmin 0vmin gold,
    -1vmin 0vmin gold,
    -2vmin 0vmin red,
    -3vmin 0vmin gold,
    0.25vmin 0.5vmin orange,
    -0.75vmin 0.5vmin red,
    -1.75vmin 0.5vmin yellow,
    -2.75vmin 0.5vmin orange,
    -0.25vmin 1vmin white,
    -1.25vmin 1vmin coral,
    -2.25vmin 1vmin white,
    -0.75vmin 1.5vmin red,
    -1.75vmin 1.5vmin gold,
    -1.25vmin 1.75vmin red,
    0.55vmin 0.5vmin gold,
    0.3vmin 1.25vmin gold,
    0.3vmin 1vmin gold,
    0.6vmin 1.25vmin red,
    0.35vmin 1.4vmin red,
    -0.25vmin 1.75vmin lightsalmon,
    -0.75vmin 2vmin gold;
}

/*right-side top header menu*/
.userMenu {
    grid-area: usermenu;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 1vmin 0 1vmin;
}

.searchMenu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

li > h3 {
    font-size: 1.5vmin;
}

.searchBar {
    justify-self: stretch;
}

#lookup {
    width: 100%;
}

.notifications {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.activityMenu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.profile {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-items: start;
    align-items: center;
}

li > p {
    font-size: 1vmin;
    margin: 0;
}

li > h2 {
    font-size: 2vmin;
    margin: 0;
}

.activity {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*right-side main activity dashboard*/
.activityDashboard {
    background-color: lightgray;
    grid-area: activityDash;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: 1vmin;
    padding: 1vmin;
}

.activityDashboard > div > h3 {
    margin: 0;
    padding: 0;
}

.activityDiv1 {
    grid-area: projects;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1vmin;
}

.projects > div {
    background-color: white;
    padding: 1vmin;
}

.projects > div > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.activityDiv2 {
    grid-area: announcements;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.announcements > div {
    background-color: white;
    padding: 1vmin 0 1vmin 0;
}

.announcements > div > h5 {
    margin: 0;
    padding: 0;
}

.announcements > div > p {
    margin: 0;
    padding: 0;
}

.activityDiv3 {
    grid-area: trending;
}

.trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending > div {
    background-color: white;
    padding: 0.5vmin 0 0.5vmin 0;
}

.trending > div > div > h6 {
    margin: 0;
    padding: 0;
    font-size: 1.5vmin;
}

.trending > div > div > p {
    margin: 0;
    padding: 0;
    font-size: 1vmin;
}